@model IEnumerable<IrigationAPP.Models.Schedule>

<table class="table">
    <thead>
        <tr>
            <th>
                ValveId
            </th>
            <th>
                Start Time
            </th>
            <th>
                Stop Time
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ValveId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StopTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
    
</table>
<a asp-action="Index" class="btn btn-primary"> Back </a>